<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://findtheclue.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>findtheclue.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>findtheclue</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$findtheclue</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="findthecluedbEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="database=findthecluedb;server=eu-cdbr-azure-west-b.cloudapp.net;user id=ba2153642e0602;password=f100c9ef" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\findthecluedbEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/FindTheClueDataModel.csdl|res://*/FindTheClueDataModel.ssdl|res://*/FindTheClueDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;database=findthecluedb;server=eu-cdbr-azure-west-b.cloudapp.net;user id=ba2153642e0602;password=f100c9ef&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="database=findthecluedb;server=eu-cdbr-azure-west-b.cloudapp.net;user id=ba2153642e0602;password=f100c9ef" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Database=findthecluedb;Data Source=eu-cdbr-azure-west-b.cloudapp.net;User Id=ba2153642e0602;Password=f100c9ef" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FindTheClueAPI.findthecluedbEntities" Order="3" Enabled="False">
          <Destination Path="metadata=res://*/FindTheClueDataModel.csdl|res://*/FindTheClueDataModel.ssdl|res://*/FindTheClueDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&amp;quot;database=findthecluedb;server=eu-cdbr-azure-west-b.cloudapp.net;user id=ba2153642e0602;password=f100c9ef&amp;quot;" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FindTheClueAPI.findthecluedbEntities, FindTheClueAPI" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FindTheClueAPI.MySqlHistoryContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FindTheClueAPI.MySqlHistoryContext, FindTheClueAPI" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FindTheClueAPI.Models.ApplicationDbContext" Order="5" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FindTheClueAPI.Models.ApplicationDbContext, FindTheClueAPI" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FindTheClueAPI.findthecluedbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/FindTheClueDataModel.csdl|res://*/FindTheClueDataModel.ssdl|res://*/FindTheClueDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&amp;quot;database=findthecluedb;server=eu-cdbr-azure-west-b.cloudapp.net;user id=ba2153642e0602;password=f100c9ef&amp;quot;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FindTheClueAPI.Models.ApplicationDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FindTheClueAPI.MySqlHistoryContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)findthecluedbEntities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="FindTheClueAPI.findthecluedbEntities" />
    <_ConnectionStringsToInsert Include="FindTheClueAPI.Models.ApplicationDbContext" />
    <_ConnectionStringsToInsert Include="FindTheClueAPI.MySqlHistoryContext" />
  </ItemGroup>
</Project>